footer {
  width: 100%;
  height: 410px;
  color: #5f717d;
  background: #f2f2f2;
  .menu-footer-info {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    .footer-menu {
      width: 23%;
      height: auto;
      ul {
        li {
          margin-bottom: 8px;
          &:hover a {
            color: #000;
            transition: all 0.3s;
          }
          .menu-1 {
            font-size: 14px !important;
            line-height: 20px !important;
            margin-bottom: 10px !important;
            font-weight: 600 !important;
            color: #293c43 !important;
            i {
              font-size: 12px;
              padding-right: 5px;
            }
          }
          a {
            transition: all 0.3s;
            font-size: 14px;
            color: #5f717d;
            i {
              font-size: 12px;
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
  .contact-1 {
    .contact-menu {
      width: 12%;
      height: 24px;
      margin: auto;
      margin-top: 20px;
      .icon {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        i {
          color: #293c43;
          font-size: 19px;
          transition: all 0.3s;
          &:hover {
            color: #ff6600;
            transition: all 0.3s;
          }
        }
      }
    }
  }
  .copyright {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    p {
      transition: all 0.3s;
      font-size: 14px;
      &:hover {
        transition: all 0.3s;
        color: #ff6600;
      }
    }
  }
}
